  <link rel="stylesheet" href="/public/popup.css">
    <%- include('partials/head.ejs') %>
    <div class="row">
    
    <div id="ro01" class="col-sm-3 px-5 py-2">
        <%- include('infouser/manu_user.ejs') %>
    </div>
    <div id="ro02" class="col-sm-9 py-2">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/user/shop"> <font size='3'> <%= currentUser.username %></font></a></li>
              <li class="breadcrumb-item active" aria-current="page"><font size='3'>ข้อมูลส่วนตัว</font></li>
            </ol>
          </nav>
          <div class="row">             
            <div class="col-sm-6 px-5 py-2 Acc">
            <p> <font size="5px"> Manage My Account &nbsp;&nbsp;</font><font style="cursor:hand" color="0000CC" onclick="openForm()">EDIT</font> </p>  
             <div>
              <% user.forEach(function(user){  %>
                <h4>ชื่อ : <%= user.first_name %></h4>
                <h4>นามสกุล : <%= user.last_name %></h4>
                <h4>email : <%= user.email %></h4>
                <h4>เบอร์โทร : <%= user.phone %></h4>
                <h4>เพศ : <%= user.gender %></h4>
                <% }); %>
                <button>แก้ไขข้อมูล</button>
              </div>
            </div>
            <div class="col-sm-6 px-5 py-2 Add">
             <p> <font size="5px"> Address Book&nbsp;&nbsp; </font> <a href="/user/edit_address"><font style="cursor:hand" color="0000CC" >EDIT</font> </p> </a>      
             <% user.forEach(function(user){  %>
              <form action='/user?_method=PUT'  method='POST' enctype="multipart/form-data">
                <input type='text'class="form-control"  name='address' value="<%= user.address_information.address %>">
             <p>2: <%= user.address_information.district %></p>
             <p></p>
             <p></p>
             <button type="submit" class="btn">บันทึก</button>
            </form> 
             <% }) %>
             <div >
              </div>

            </div>

          </div>
          
        
    </div>
    </div>
    <%- include('partials/footer.ejs') %>
