<div class="images">
  <div class="album py bg-light" >
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 ">
          
          <% catalog.forEach(function(catalog){  %>
          <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <div class="card shadow-sm showimg">
                <div>
              <a href="/catalog/<%= catalog._id %>"><img src='<%= catalog.image %>' class='card-img-top' width="100px" height="220px"></a>
               </div>
              <div class="card-body">
                  <div >
                    <a href="/catalog/<%= catalog._id %>"><h6 class = 'card-title' ><%= catalog.name %></h6> </a>
                </div>  
              <div >
                <h5 class="card-text">฿ <%= catalog.price %></h5>
              </div>  
              <div >
            </div>                           
        </div>
            <div class="row px-3">
              <div class="col-sm-6 py-1 "> 
                <a href='/user/shop/<%= catalog._id %>/edit'><button>แก้ไข</button></a>                
              </div>
              <div class="col-sm-6  py-1">
                <form id = 'delete-form' action = '/user/shop/<%= catalog._id %>?_method=DELETE' method='POST'>
                <button type="submit"> ลบ </button> 
                </form>
              </div>
          </div>
        </div>
            
          </div>
          <% }); %>
        </div>
      </div>
    </div>
</div>
